<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OKNetWorkHttpDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>482D01541CBB31C600616219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482D016D1CBB31C600616219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>482D01781CBB31C600616219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
